<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/all.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    <title>LA Crime Information</title>
</head>
<body>
    <div id="content"></div>  <!-- Placeholder for dynamic content -->

    <div class="pie-charts-container">
        <div class="pie-chart" id="age-pie-chart"></div> <!-- Age Group Pie Chart -->
        <div class="pie-chart" id="sex-pie-chart"></div> <!-- Victims by Sex Pie Chart -->
        <div class="pie-chart" id="race-pie-chart"></div>
    </div>
    </script>
</body>
</html>