<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="stats.js"></script>
</head>
<body>
    <h1>LA Crime Information</h1>
    
    <p>This application provides insights into crime statistics in Los Angeles. This information can help advise decisions on travel, relocation, school selection and more.</p>
    
    <h2>Please use the links below to explore different visualizations of the data:</h2>
    <ul>
        <li><a href="map" target="_blank">Map View</a></li>
        <li><a href="table" target="_blank">Table View</a></li>
    </ul>
</body>
</html>