<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/soda-js@0.2.3/lib/soda-js.min.js"></script>
    
</head>
<body>
    
    <script src="../static/js/logic_soda.js"></script>
    <!-- <script src="../lib/soda-js.bundle.js"></script> -->
		<!-- <script>
			var consumer = new soda.Consumer('data.lacity.org');

			consumer.query()
				.withDataset('63jg-8b9z')
				.limit(5)
				.where({ issuing_agency: 'LAPD' })
				.order('DR_NO', DESC)
				.getRows()
					.on('success', function(rows) { console.log(rows); })
					.on('error', function(error) { console.error(error); });
		</script> -->
    <h1>LA Crime Information</h1>
    
    <p>This application provides insights into crime statistics in Los Angeles. This information can help advise decisions on travel, relocation, school selection and more.</p>
    
    <h2>Please use the links below to explore different visualizations of the data:</h2>
    <ul>
        <li><a href="map" target="_blank">Map View</a></li>
        <li><a href="table" target="_blank">Table View</a></li>
    </ul>
</body>
</html>